<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
  <link rel="stylesheet" type="text/css" href="/static/css/about.css">

</head>
<header>
     <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
</head>
<header>
 <nav>
           <ul>
        <li>
             <a href="http://cvd19.ph">Home</a>
          </li>
          <a href="/chuchay_list">About us</li>
               </li>
                    <a href="/about">All About Vaccine</a>
               </li>
                <li class="selected">Contact</a>
                
               </li>


          </li>
          <li>
          </li>
        </ul>
      </nav>
    </header>
 <body>
    <a href="#"><i class="fas fa-arrow-left" id="button-back"></i></a>
    <div class="profile-body">
      <br>
        <div class="photo">
            <img src="https://scontent.fmnl19-1.fna.fbcdn.net/v/t1.6435-9/97754785_3035055199875124_1447649126895321088_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_eui2=AeE5ZMiYM6cIxJ8dQhDWCmeibmy6B1xBzV5ubLoHXEHNXnoUqkhBALyRJmadkVHFEmetwnPQR_AxtuRNQNoOAVkp&_nc_ohc=fd9Psbhl-sEAX-RiYnJ&tn=i1JCRYr6OI3udOB4&_nc_ht=scontent.fmnl19-1.fna&oh=655c70cd183374d06250724b5a55b316&oe=60DC1E0B"
                class="image--cover">
        </div>
        <div class="profile">

            <div id="rating-stars" align="center">
      
                <div class="stars">
                    <label aria-label="first-star" class="star-label" for="rate-1"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-1" value="1" type="radio">
                    <label aria-label="second-star" class="star-label" for="rate-2"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-2" value="2" type="radio">
                    <label aria-label="third-star" class="star-label" for="rate-3"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-3" value="3" type="radio">
                    <label aria-label="fourth-star" class="star-label" for="rate-4"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-4" value="4" type="radio">
                    <label aria-label="fifth-star" class="star-label" for="rate-5"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-5" value="5" type="radio">
                </div>
            </div>

            <h1 class="username">RICCA MAE MIQUE</h1>
            <h2 class="profession">  </h2>
            <h3 class="locationname"><i class="fas fa-map-marker-alt"></i> Dasma, Cavite</h3>
            <h1 class="descricao">Contact Us for more information:<br>
            Facebook: Ricca Mique<br>
            Instagram: @cvd19ph<br>
            Twitter: cvd19ph</h1>

            <div class="socialmedia">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi7u6buu7XxAhWmyosBHf6PCqkQFjABegQIAhAD&url=https%3A%2F%2Fwww.facebook.com%2Friccamae.mique&usg=AOvVaw0sKsKSjRrdHjtwT4h1jWot" class="button-facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi7u6buu7XxAhWmyosBHf6PCqkQFjACegQIDRAD&url=https%3A%2F%2Fwww.instagram.com%2Friccamiqs25%2F&usg=AOvVaw1sJORQ0YqQnLOMcYjpsjU-" class="button-instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiN3IvfvLXxAhV1LqYKHfOrABQQ6F56BAgDEAI&url=https%3A%2F%2Ftwitter.com%2FTwitter%3Fref_src%3Dtwsrc%255Egoogle%257Ctwcamp%255Eserp%257Ctwgr%255Eauthor&usg=AOvVaw1T7NBw0DPjfAVmnz2fft8T" class="button-twitter"><i class="fab fa-twitter-square"></i></a>
            
            </div>
        </div>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">



  </a>


  
</div>


  
</div>


</header></html>