<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
</head>
<header>
<nav>
        <ul>
        <li>
            <a href="http://cvd19.ph">Home</a>
          </li>
            
              <a href="/form_list">PLACE</a>
               </li>
           
              <a href="/candy_list">Personal Info</a>
               </li>
           
              <a href="/django_list">Employment</a>
               </li>
               
              <a href="/chuchay_list">Vaccination</a>
               </li>
             
              <a href="/kanga_list">Other Info</a>
               </li>

          </li>
          <li>
          </li>
        </ul>
      </nav>
    </header>
  <body>

  </head>
  <body>
    <section>
    <div class="testbox">
     <form method="POST" action="/RICList/chuchay">
  <h2>Employment Details</h2>
        <div class="item">
   
 <label for="employed">Are you Employed?</label><br>
 <label> YES </label> <input type="radio" onclick="modefunc();" name="yesno" id="comor"> 
   <label> NO </label><input type="radio" name="yesno" id="moc">

             <div id="tycomor" style="display:none">  
        <label for="employed">Employment Status:</label>
 <select class="form-control" id="otherFieldGroupDiv"required>
          <option value="Government Employed">Government Employed</option>
          <option value="Private Employed">Private Employed</option>
           <option value="Self-employed">Self-employed</option>
           <option value="Others">Others</option>
    </select>
<br>
        <label for="otherField1">Occupation:</label>
        <br>
        <input type="text" class="form-control w-100" id="em" required>
<label for="EN">Employer Name:</label>
<br>
        <input type="text" class="form-control w-100" id="em" required>
      <label>Employer Address:</label>
      <br>
        <input type="text" class="form-control w-100" id="em" required>
      </div></div>
      
   
 <div class="btn-class">
          {% csrf_token %}
      <div class="btn-block">
      <button type="order" id="button">Proceed</button>
      </div>
    </form>
  </div>



  <br><br>



 
     <script src = ""></script>
   <script>
      $(document).ready(function() {
         $("#button1").click(function() {
            $("#dcom").attr('disabled', !$("#dcom").attr('disabled'));
         });
      });

function modefunc(){
            if (document.getElementById('comor').checked == true){
                document.getElementById("tycomor").style.display = 'block';
                document.getElementById("mm").style.display = 'none';
            }
            if (document.getElementById('alle').checked == true){
                document.getElementById("mm").style.display = 'block';
                document.getElementById("tycomor").style.display = 'none';
            }
        }
    </script>


    </script>
  </div>

</html>
