<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
   
</head>
<header>
<nav>
        <ul>
         <a href="/form_list">Home</a>
   </li>
            
           
              <li class="selected">Employment & Vaccine Info</li>
               </li>
               </li>
              <a href="/kanga_list">Other Details</a>
               </li>
               
   

          </li>
          <li>
          </li>
        </ul>
      </nav>
    </header>

  <body>
   


</body></table>
  </head>
  <body>
  <section>  

     <form method="POST" action="/kanga_list">
  <h2>Employment Details</h2>
    
   
 <label for="employed">Are you Employed?</label><br>
 <label> YES </label> <input type="radio" onclick="modefunc();" name="yesno" id="comor"> 
   <label> NO </label><input type="radio" name="yesno" id="moc">

             <div id="tycomor" style="display:none">  
        <label for="employed">Employment Status:</label>
 <select class="form-control" id="otherFieldGroupDiv"required>
          <option value="Government Employed">Government Employed</option>
          <option value="Private Employed">Private Employed</option>
           <option value="Self-employed">Self-employed</option>
           <option value="Others">Others</option>
    </select>
<br>
        <label for="otherField1">Occupation:</label>
        <br>
        <input type="text" class="form-control w-100" id="em" required>
<label for="EN">Employer Name:</label>
<br>
        <input type="text" class="form-control w-100" id="em" required>
      <label>Employer Address:</label>
      <br>
        <input type="text" class="form-control w-100" id="em" required>
      </div></div>
      <hr>
  <h2> Vaccine Information</h2>
    <label for="name">Vaccine Name:</label>
    <br>
 <input type="text" type="text" placeholder="Brand Name eg. aztrazeneca" id="vax" required>
  </div>

<br>
 <label for="address">First Dose:   </label>
 (date given)
 <br>
    <input type="date" name="text" placeholder="Date Received" id="dat1" required>
    <br>
     <label for="address">Second  Dose:</label>
     (date given)
     <br>
    <input type="date" name="email" placeholder="Date Received" id="dat2" required>
    <br>
    <label for="address">Vaccination Site:</label>
    <br>
    <input type="text" name="email" placeholder="" id="dat1" required>
    <br>
    <label for="address">Vaccinator:</label>
    <br>
    <input type="text" name="email" placeholder="" id="dat1" required>
    <br>
        </div>
<br>    
   
 <div class="btn-class">
          {% csrf_token %}
      <div class="btn-block">
      <button type="order" id="button">SUBMIT</button>
      </div>
    </form>
  </div>

</form></section>





 
     <script src = ""></script>
   <script>
      $(document).ready(function() {
         $("#button1").click(function() {
            $("#dcom").attr('disabled', !$("#dcom").attr('disabled'));
         });
      });

function modefunc(){
            if (document.getElementById('comor').checked == true){
                document.getElementById("tycomor").style.display = 'block';
                document.getElementById("mm").style.display = 'none';
            }
            if (document.getElementById('alle').checked == true){
                document.getElementById("mm").style.display = 'block';
                document.getElementById("tycomor").style.display = 'none';
            }
        }
        function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
    </script>


    </script>
  </div>

</html>
