<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/about.css">
</head>
<header>
     <meta charset="utf-8">
      
 
  <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
</head>
<header>
 <nav>
        <ul>
        <li>
             <a href="http://cvd19.ph">Home</a>
          </li>
          <li class="selected">About us</li>
               </li>
                    <a href="/about">All About Vaccine</a>
               </li>
                <a href="/contact">Contact</a>
                
               </li>

          </li>
          <li>
          </li>
        </ul>
      </nav>
    </header>
<article>
  <br><br>
<section>
    <h4 style="font-size: 40px; text-align: center; color: darkred;" >ABOUT US</h4>
    <h1 style="font-size: 20px; text-align: center; color: saddlebrown; "> COVID VACCINATED RECORD </h1>
    <p> AT , COVID VACCINATED RECORD we want to keep your covid-19 vaccination information, As you may know if you've already vaccinated , this is one of the ways to retrieve the details about covid-19 vaccination information. THANKYOU :) </p>
    -----------------------------------------CREATOR---------------------------------------------------<br>
Ricca Mae Mique
<br>

 </section></article>
                                           
</section></aside>
</article></header></html>