<!DOCTYPE html>
<html>

<head>
<header>
     <meta charset="utf-8">
       <link rel="stylesheet" type="text/css" href="/static/css/about.css">


  <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
</head>

<header>
 <nav>
        
             <ul>
        <li>
            <a href="http://cvd19.ph">Home</a>
          </li>
            <a href="/django_list">Employment & Vaccine Info</a>
               </li>
           
    
               </li>
              <li class="selected">Other Details</a>
               </li>
               
        

          </li>
          <li>
          </li>
        </ul>
      </nav></header>
      </nav>
    </header>
     <h3>COVID-19 vaccine: It’s our turn to roll up our sleeves and get vaccinated!</h3>
</header>
<article>
 
<section>

<div class="testbox">
     <form method="POST" action="/RICList/form">

        <div class="banner">
  <h2>Other Information</h2>
         
          <br>

  <label for="employed">With Comorbidity?</label><br>
    <select class="form-control" id="employed">
          <option value="no">No</option>
          <option value="yes">Yes</option>
    </select>
 <br>
        <label for="employed">TYPE OF COMORBIDITY:</label>
        <input type="text"placeholder="(Leave blank if none)">
        <br>
     <label for="employed">With Allergy?</label><br>
    <select class="form-control" id="employed">
          <option value="no">No</option>
          <option value="yes">Yes</option>
    </select>
 <br>
        <label for="employed">TYPE OF ALLERGY:</label>
        <input type="text"placeholder="(Leave blank if none)">
      </div>
        <label for="employed">Are you Diagnosed with COVID19?</label><br>
 <label> YES </label> <input type="radio" onclick="modefunc();" name="yesno" id="comor"> 
   <label> NO </label><input type="radio" name="yesno" id="comor">
  
           <div id="tycomor" style="display:none">  <br>
              <label for="employed">Classification COVID19:</label>
 <select class="form-control" id="otherFieldGroupDiv"required>
          <option value="Government Employed">Asymptomatic</option>
          <option value="Private Employed">Mild</option>
           <option value="Self-employed">Moderate</option>
           <option value="Others">Severe</option>
           <option value="Others">Critical</option>
    </select><br><br>
    First Positive Result:<input type="date" name="" ></div>
          {% csrf_token %}
      <div class="btn-block">
      <button type="order" >Submit</button>
      <br><br>
  
      

</div></div></section></article>  

 <aside>


    
  <section>
 <div class="flex"><div class="one">

                    <h2>List of Comorbidities</h2>
  <h2>(1)HYPERTENSION<br>
  (2)HEART DISEASE<br>
(3)KIDNEY DISEASE<br>
(4)BRONCHIAL ASTHMA<br> 
 (5)IMMUNO DEFICIENCY<br>
 (6)CANCER<br>
 (7) If others please specify<br>
</h2></div></div>
    <div class="flex"><div class="one">
                    <h2>List of Allergy</h2>
  <h2>(1)DRUGS<br>
  (2)FOOD<br>
(3)LATEX<br>
(4)INSECT<br> 
 (5)FOOD<br>
 (6)PET<br>
 (7) POLLEN<br>
  (8) MOLD<br>
  (7) If others please specify<br>
</h2></div></div>
   
</section>
 
   
                   
</h2></div></div>
 </section></aside>

</div>
<BR><br>
<img class="large"src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Resbakuna_logo.png" width="80%" height="50%";>

<h3>COVID-19 vaccines are safe and effective in preventing severe illness from COVID-19, and people who are fully vaccinated against COVID-19 may start to do some things they had stopped doing because of the pandemic.</h3>
<br>

<img class="large"src="https://doh.gov.ph/sites/default/files/Plus.png" width="80%" height="50%";>
<br>
<h3>Stopping a pandemic requires using all the tools we have available—wearing masks, staying at least 6 feet apart from people who don’t live with you, avoiding crowds and poorly ventilated spaces, washing your hands frequently, and getting vaccinated.</h3></head>
  </tr>
  <tr>
    <footer>
      <p class="copyright">All information credits - doh.gov.ph</p>
        
      </p>
    </footer>

<script>
  
function modefunc(){
            if (document.getElementById('comor').checked == true){
                document.getElementById("tycomor").style.display = 'block';
                document.getElementById("del").style.display = 'none';
            }
            if (document.getElementById('alle').checked == true){
                document.getElementById("del").style.display = 'block';
                document.getElementById("tycomor").style.display = 'none';
            }
        }
        function detailssubmit() {
        alert("Your details were Submitted");
    }
    </script>




 </div></header></html>