<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
</head>
<header>
<nav>
        <ul>
        <li>
            <a href="http://cvd19.ph">Home</a>
          </li>
            
              <a href="/form_list">PLACE</a>
               </li>
           
              <a href="/candy_list">Personal Info</a>
               </li>
           
              <a href="/django_list">Employment</a>
               </li>
               
              <a href="/chuchay_list">Vaccination</a>
               </li>
             
              <a href="/kanga_list">Other Info</a>
               </li>

          </li>
          <li>
          </li>
        </ul>
      </nav>
    </header>
    
  <body>
<article>
    <br>  <br>  
  <section>
    <br>
    <div class="testbox">
     <form method="POST" action="/RICList/django_list">
        {% csrf_token %}
     <h2>Personal Information</h2>
        <div class="banner">

        </div>
        <br><br>
        <div class="model1">


        </div>

        <div class="colums">

          <div class="item">

            <label for="fname"> Full Name<span>*</span></label>

            <input id="fname" type="text" placeholder="First Name Middle Initial Last Name" name="fname" required/>
          </div>
          <div class="item">
            <label for="lname"> Address<span>*</span></label>
            <input id="address1" type="text" placeholder="Complete Address "name="address1" required/>
          </div>
          <div class="item">
            <label for="email">Email<span>*</span></label>
            <input id="zemail" type="text"  placeholder="cvd19ph@gmai.com " name="zemail" required/>
          </div>
          <div class="item">
            <label for="phil">Phil Health No.<span>*</span></label>
            <br>
            <input id="phil1" maxlength="12"type="text"  placeholder="Phil Health "  name="phil1" onkeypress="return onlyNumberKey(event)" required/>
          </div>
          <div class="item">
            <label for="contact">Contact No<span>*</span></label>
            <input id="cn" type="text" maxlength="11" onkeypress="return onlyNumberKey(event)" placeholder="+63 966 164-540" name="cn" required/>
          </div>


          <div class="item">
            <label for="city">In Case of Emergency Please Contact<span>*</span></label>
            <input id="Cnumber" type="tel"  placeholder="Name "  name="Cnumber" required/>
          </div>
          <div class="item">
            <label for="rel"> Relationship<span>*</span></label>
            <input id="rell" type="text" placeholder=" "   name="rell" required/>
          </div>
          <div class="item">
              <label>Category:</label>
           <select class="com" id="com"
                name="com" size="width:40%">
                <option value="1"> &#x2013; A1: (Frontline workers janitors, barangay health workers, etc.) </option>
<option value="2"> &#x2013;A2:Senior citizens aged 60 years old and above </option>
<option value="3"> &#x2013;A3: Persons with comorbidities</option>
<option value="4"> &#x2013; A4: Frontline personnel in essential sectors</option>
<option value="5"> &#x2013;A5: Indigent population</option>
</select></div>
<br>
          <div class="item">

      <label>Gender:</label>
           <select class="com" id="cmm"
                name="cmm">
           
                <option value="1"> &#x2013; MALE </option>
<option value="2"> &#x2013;FEMALE</option>
</select>
          </div>
          </div>
          <br>
             <div class="item">
              <br>
<b> Age: <input type=text id =DOB name=DOB onkeypress=return onlyNumberKey(event) maxlength=3> </b>
<span id = "message" style="color:blue"> </span> <br><br>
</div>

      <button type="order" onclick='checkEmail()' >Proceed</button>

    </form></div></section></article></center>
</body>
<br><br><br>

<aside>
 <div class="flex"><div class="one">
<h2>IMPORTANCE OF COVID VACCINE RECORD</h2>
<br>
<h1>
   * The covid vaccine record contain important information about you and the vaccine you received.<br>
    * In the long term, the covid vaccine record may serve to gain access to events and travel. <br>
   * If you lose your card, you can retain your information here as a proof you got covid19 vaccinate.<br></h1>

 
       
       </h1></h1></div></div></aside>
       <table id="usertab">

{% for Personal_Info in municipality.Personal_Info_set.all %}
        <tr>
            <!{{ forloop.counter }}:  -->
            <td>{{ forloop.counter }} : {{Personal_Info.rlname }}</td>
            <td>{{ Personal_Info.zflname }}</td>
            <td>{{ Personal_Info.znaddress }}</td>
            <td>{{ Personal_Info.zvphil }}</td>
            <td>{{ Personal_Info.zpnumber }}</td>
            <td>{{ Personal_Info.zemerg }}</td>
            <td>{{ Personal_Info.hhrelat }}</td>
            <td>{{ Personal_Info.rmgender }}</td>
            <td>{{ Personal_Info.zbirth }}</td>
        
        </tr> {% endfor %} </table>
     </div></aside>

<script >
function validateForm(form)
{
    console.log("checkbox checked is ", form.agree.checked);
    if(!form.agree.checked)
    {
        document.getElementById('agree_chk_error').style.visibility='visible';
        return false;
    }
    else
    {
        document.getElementById('agree_chk_error').style.visibility='hidden';
        return true;
    }



</script>
<script>
function onlyNumberKey(evt) {
         
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
    function checkEmail() {

        var email = document.getElementById('zemail');
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!filter.test(email.value)) {
            alert('Please provide a valid email address');
            email.focus;
            return false;
        }
    }
</script>
  
<script>

// A function that hides or shows a selected element
function hideOrShow() {

  // Select the element with id "theDIV"
  var x = document.getElementById("theDIV");

  // If selected element is hidden
  if (x.style.display === "none") {

    // Show the hidden element
    x.style.display = "block";

    // Else if the selected element is shown
  } else {

    // Hide the element
    x.style.display = "none";
  }
}

</script>
{% csrf_token %}




</div></body></header></html>
 </div></header></html>