<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="home.css">
  <title>cvd</title>
</head>

<body>

  <header>
    <div>
      <i class="fas fa-atom"></i>
      <p>cvdph</p>
    </div>
    <nav>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Jordane</a></li>
        <li><a href="#">Laine</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="titles">

    <h1>Let’s get vaccinated</h1>
    <p>“together we can end this global pandemic and move forward to a better future.”⁣</p>

  </section>

  <section class="container-boxes">
    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-fire"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>Fill Up</h3>
          <p>create a record if you are  vaccinated against COVID-19.</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-seedling"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>The Yarn</h3>
          <p>We will use only animal-friendly, fair-trade yarn. Only the best!</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href="/RICList/form"><i class="fas fa-address-card"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>The Group</h3>
          <p>Become a member, become family. Teamwork is everything.</p>
        </a>
      </div>

    </div>
  </section>

</body>

</html>