
<button type="button" onclick="asd(1)" id="update" value="Update Product">update</button>


<form id="asd" action="">
<button type="button" id="creatorbutton">+ Create</button>
      <form class="form" id="creatorform" style="text-align: center; padding-top: 1.50%" method="POST" action="/newlist_url">
 <button type="button" id="form">+ Create</button>
      <form class="form" id="now" style="text-align: center; padding-top: 1.50%" method="POST" action="/new_municipality">

<input name="ffbrgy"  placeholder="(e.g dasma)" type="text" id="ffbrgy" width="100px;">
<label>Your Municipality</label>
<input name="xxmni" placeholder="(e.g dasma)" type="text" id="xxmni" width="100px;">
<label>Region</label>

<input name="Region" placeholder="(e.g IV A)" type="text" id="Region" width="100px;">
<label></label>
{% csrf_token %}
      <div class="btn-block">
      <button type="order"value="Continue"
       >Proceed</button>
      </div>
</form>

<script type="text/javascript">

  window.onload = function() {

    document.getElementById("asd").style.display = "none";

  };

  function asd(a) {
  
    if (a == 1) {
      document.getElementById("asd").style.display = "block";
    } else {
      document.getElementById("asd").style.display = "none";
    }
      
  }
</script>